{% extends 'bootstrap/base.html' %}
{% block title %}
    Auth
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>Please log in!</h1>
        <a href="{{ url_for('main_view.register') }}"
           class="btn btn-primary btn-lg active" role="button"
           aria-pressed="true">Register</a>
        <a href="{{ url_for('main_view.login') }}"
           class="btn btn-primary btn-lg active" role="button"
           aria-pressed="true">Log In</a>
    </div>
{% endblock %}
