<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/main/add_paper">
    <H1>Test add paper </H1> <br>
    Title <input type="text" name="Title"/> <br>
    Authors <input type="text" name="Authors"/> <br>
    Key Words <input type="text" name="Key words"/> <br>
    Abstract <input type="text" name="Abstract"/> <br>
    <input type="submit">
</form>
<form method="POST" action="/main/find_paper">
    <H1>Test find paper paper </H1> <br>
    Title <input type="text" name="Title"/> <br>
    Authors <input type="text" name="Authors"/> <br>
    Key Words <input type="text" name="Key words"/> <br>
    Abstract <input type="text" name="Abstract"/> <br>
    <input type="submit">
</form>
<form method="POST" action="">
    <H1>Test random paper </H1> <br>
    <input type="submit">
</form>
<form method="POST" action="">
    <H1>Test delete paper </H1> <br>
    Title <input type="text" name="Title"/> <br>
    Authors <input type="text" name="Authors"/> <br>
    Key Words <input type="text" name="Key words"/> <br>
    Abstract <input type="text" name="Abstract"/> <br>
    <input type="submit">
</form>
</body>
</html>
