{% extends 'bootstrap/base.html' %}

{% block title %}
    Seeker
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <div class="container">
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">
                <a href='{{ url_for('html_view.index') }}' class="navbar-brand"
                   style="color: black;">
                    Hello, {{ user }}!</a>
                <ul class="nav navbar-nav navbar-right">
                    <a href="{{ url_for('main_view.log_out') }}"
                       class="btn btn-lg btn-secondary active" role="button"
                       aria-pressed="true">log out</a>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% block left %}
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active"
                                   href="{{ url_for('main_view.find_similar_paper') }}">
                                    <span data-feather="home"></span>
                                    Find similar articles<span
                                        class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('main_view.add_paper') }}">
                                    <span data-feather="file"></span>
                                    Add article
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('main_view.random_paper') }}">
                                    <span data-feather="shopping-cart"></span>
                                    Get random article
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('main_view.get_paper') }}">
                                    <span data-feather="users"></span>
                                    Get article
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('main_view.update_paper') }}">
                                    <span data-feather="users"></span>
                                    Update article
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('main_view.delete_paper') }}">
                                    <span data-feather="bar-chart-2"></span>
                                    Delete article
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('main_view.show_history') }}">
                                    <span data-feather="bar-chart-2"></span>
                                    Show history
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('main_view.clean_history') }}">
                                    <span data-feather="bar-chart-2"></span>
                                    Clean history
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% endblock left %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <h1>Welcome, {{ user }}!</h1>
                <div class="jumbotron">
                </div>
            </main>
        </div>
    </div>
{% endblock %}

