{% extends 'index.html' %}

{% block header %}
    <h1>{% block title %}Add article{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% block left %}
                {{ super() }}
            {% endblock left %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <h1>Delete article</h1>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <form method="post">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input class="form-control" name="title" id="title"
                                   placeholder="Enter title" required>
                        </div>
                        <input type="submit" class="btn btn-primary"
                               value="Delete article">
                        {% for message in get_flashed_messages() %}
                            <div class="flash"><span
                                    style="color: red; ">{{ message }}</span>
                            </div>
                        {% endfor %}
                    </form>
                </div>
            </main>
        </div>
    </div>
{% endblock %}