{% extends 'index.html' %}

{% block header %}
    <h1>{% block title %}Find similar paper{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% block left %}
                {{ super() }}
            {% endblock left %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <h1>Find similar paper</h1>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <form method="post">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input class="form-control" name="title" id="title"
                                   placeholder="Enter title" maxlength="300"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="authors">Authors</label>
                            <input name="authors" id="authors"
                                   class="form-control"
                                   maxlength="300"
                                   placeholder="Enter authors">
                        </div>
                        <div class="form-group">
                            <label for="key_words">Key Words</label>
                            <input name="key_words" id="key_words"
                                   class="form-control"
                                   maxlength="300"
                                   placeholder="Enter key words">
                        </div>
                        <div class="form-group">
                            <label for="abstract">Abstract</label>
                            <input name="abstract" id="abstract"
                                   class="form-control"
                                   maxlength="5000"
                                   placeholder="Enter abstract">
                        </div>
                        <div class="form-group">
                            <label for="ref">Reference</label>
                            <input name="ref" id="ref"
                                   class="form-control"
                                   maxlength="300"
                                   placeholder="Enter reference to article"
                            >
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input"
                                   name="checkbox" id="checkbox">
                            <label class="form-check-label"
                                   for="checkbox">Use key words</label>
                        </div>
                        <input type="submit" class="btn btn-primary"
                               value="Find article">
                    </form>
                    {% for message in get_flashed_messages() %}
                        <div class="flash"><span
                                style="color: red; ">{{ message }}</span></div>
                    {% endfor %}
                </div>
            </main>
        </div>
    </div>
{% endblock %}