{% extends 'index.html' %}

{% block header %}
    <h1>{% block title %}Add article{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% block left %}
                {{ super() }}
            {% endblock left %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <h1>Get article</h1>
                {% if output %}
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h5 class="mb-1">Authors</h5>
                            {{ authors }}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h5 class="mb-1">Title</h5>
                            {{ title }}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h5 class="mb-1">Key words</h5>
                            {{ key_words }}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h5 class="mb-1">Abstract</h5>
                            {{ abstract }}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h5 class="mb-1">Reference</h5>
                            {{ ref }}
                        </li>
                    </ul>
                {% else %}
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <form method="post">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input class="form-control" name="title"
                                       id="title"
                                       placeholder="Enter title" required>
                            </div>
                            <input type="submit" class="btn btn-primary"
                                   value="Get article">
                        </form>
                        {% for message in get_flashed_messages() %}
                            <div class="flash"><span
                                    style="color: red; ">{{ message }}</span>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </main>
        </div>
    </div>
{% endblock %}