{% extends 'index.html' %}

{% block header %}
    <h1>{% block title %}Add article{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% block left %}
                {{ super() }}
            {% endblock left %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <h1>Get random article</h1>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h5 class="mb-1">Authors</h5>
                        {{ authors }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h5 class="mb-1">Title</h5>
                        {{ title }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h5 class="mb-1">Key words</h5>
                        {{ key_words }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h5 class="mb-1">Abstract</h5>
                        {{ abstract }}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <h5 class="mb-1">Reference</h5>
                        {{ ref }}
                    </li>
                </ul>
            </main>
        </div>
    </div>
{% endblock %}