{% extends 'index.html' %}

{% block header %}
    <h1>{% block title %}Found article{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% block left %}
                {{ super() }}
            {% endblock left %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <h1>Found articles</h1>
                {{ data.to_html(classes="table table-striped") | safe }}
            </main>
        </div>
    </div>
{% endblock %}