{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container justify-content-md-center">
        <form method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" name="username" id="username"
                       placeholder="Enter username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" name="password" id="password"
                       placeholder="Enter password" required>
                {% for message in get_flashed_messages() %}
                    <div class="flash"><span
                            style="color: red; ">{{ message }}</span></div>
                {% endfor %}
            </div>
            <input type="submit" class="btn btn-primary" value="Register">
        </form>
    </div>
{% endblock %}
